body{
    background-color:#d5f4e6;
}
iframe{
    background-color: white;
    margin-top: 5px;
    margin-left: 10px;
    box-shadow: 2px 2px black;
    border-radius: 10px;
}
h3{
    margin-left: 20px;
    font-size:25px;
    font-weight: bold;
    text-transform: capitalize;
    font-style: italic;
}
nav{
    display:flex;
    justify-content:right;
    gap: 20px;
    margin-right: 20px;
    margin-top: 20px;
}
button{
    
            text-transform:capitalize;
            font-weight: bold;
            font-size:15px;
            color:black;
            border: none;
            border-radius:20px;
            padding:7px;
            margin-top:30px;
            width:130px;
            background-color:#b8a9c9;
            margin-left: 10px;
}
 button:hover{
            background-color:white;
            box-shadow: 2px 2px black;}
a{
    text-decoration: none;
    color: black;
}
h2{
  text-align: center;
  margin-top: 40px;
  color: #333;

}
header{
        margin: 0;
        display: flex;
        background-color: #80ced6;
        
}
h1{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    font-weight:bolder;
    text-shadow: 3px 3px 3px white;
    color:#333;
}
source{
      display: flex;
      flex-grow: 1fr;
      flex-direction: row;
      margin-left: 10px;
      margin-top: 20px;

}
video{
    border-radius: 20px;
    box-shadow: 6px -6px  4px black;
    margin-left: 10px;
}
.grid{
       display: grid;
       grid-template-columns:repeat(4,300px);
            height:max-content;
            column-gap:2px;
            justify-content: center;
            align-items: center;
            margin-top:20px;
            flex-wrap: wrap;
            flex-direction: row;
            height: 300px;
            border:none;
            border-radius: 10px;
            box-shadow: 5px 5px black;
            
            
        }
.box img{
        margin-top:30px;
        width:250px;
        box-shadow: 4px 3px darkgray;
        height:250px;
        display: flex;
        border-radius: 20px;
        justify-content: left;
        border:3px solid burlywood;
        align-items: center;
        cursor:grab;
        background-color: blanchedalmond;
        margin-left: 9px;
        }
        img:hover{
            transition: all;
        }
    footer{
        display: flex;
        justify-content: space-between;
        margin-top:10px;
        height:200px;
        background-color:#618685;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 20px;
    }
   .div{
    margin-top:10px;
    width: 300px;
    margin-right: 25px;
    
   }
   li{
    list-style: none;
    text-align: justify;
    margin-left:2px;
    margin-right: 2px;
   }
   p{
    text-align: center;
    font-size: 20px;
    color:#333;
    
    

   }